:root{
    --bg-color: #ffffff;
    --h-color: #9c1c1c;
    --text-color:#0a5a5c;
    --link-color: #8f08a1;
}
[data-theme="dark"] {
    --bg-color: #1c1a1a;
    --h-color: #ff8585;
    --text-color:#00fcf0;
    --link-color: #c89ae3;                     
}
	body {
        background-color: var(--bg-color);
        color: var(--text-color);
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
    div {
        width: 100%;
		height: 100%;
    }
    .title{
        display: flex;
        text-align: center;
        float: right;
    }
    @media screen and (min-width: 800px) {

    }
    @media screen and (min-width: 1000px) {

    }
    a{
        color: var(--link-color);
    }
    h1, h2{
        color: var(--h-color);
    }
